html, body {
    height: 100%;
    /*background: url("https://media.giphy.com/media/1W3H166YbyZ1K/giphy.gif");*/
}

.message {
    position: relative;
    /*top: 50%;*/
    width: 100%;
    height: 100%;
    /*transform: translateY(-100%);*/
    text-align: center;
}

.hidden { display: none; }

.show {display: inline-block}

.pacman {
    background: url("psypsy.gif");
    background-size: 300px;
    /*height: 100%;*/
    width: 40%;
    height: 100%;

}
/*.dope {*/
    /*background: azure;*/
/*}*/